$font-main: 'Mulish', sans-serif;

$color-main-black: rgb(48, 48, 48);
$color-green-light: rgb(189, 221, 140);
$color-green-dark: #4BC190;
$color-green-superlight:rgb(222, 238, 198);
$color-blue-light: #A7AECE;
$color-blue-dark: #A7AECE;